<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			Angular Table
		</li>
	</ul>
</div>
<h3 class="page-title">
	Angular Table
</h3>

<div class="row">
	<div class="col-md-12">

		<div class="portlet-body simple-table">
			<div class="table-toolbar">
				<div class="row">
					<div class="col-md-6">
						<div class="btn-group">
							<button ng-click="addNew()" class="btn gold">
							Add New <i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<select ng-model="numPerPage" class="form-control input-xsmall input-inline" ng-options="o as o for o in numPerPageRange"></select>
				</div>
				<div class="col-xs-6">
					<div class="data-filter pull-right">
						<input autofocus ng-model="search" placeholder="Search here..." type="search" class="form-control input-small input-inline">
					</div>
				</div>
			</div>
 			<div class="row datatable-wrap">
				<div class="col-md-12">
					<div ng-hide="tableReady" class="table-preloader">
						<span class="preloader"></span>
					</div>
					<div  class="table-responsive">
					 	<table ng-show="tableReady && !isEmpty()" class="table-scrollable table table-striped table-hover table-bordered">
							<thead>
							    <tr>
							        <th><a href="#" ng-click="sort('username')">User name</a></th>
							        <th><a href="#" ng-click="sort('fullname')">Full name</a></th>
							        <th><a href="#" ng-click="sort('points')">Points</a></th>
							        <th><a href="#" ng-click="sort('status')">Satus</a></th>
							        <th><a href="#" ng-click="sort('notes')">Notes</a></th>
 							        <th>Edit</th>
							        <th>Delete</th>
							    </tr>
						    </thead>
						    <tbody>
								<tr class="table-add" ng-show="isAdding">
									<td><input type="text" placeholder="User name" ng-model="newItem.username" class="form-control"></td>
									<td><input type="text" placeholder="Full name" ng-model="newItem.fullname" class="form-control"></td>
									<td><input type="text" placeholder="Points" ng-model="newItem.points" class="form-control"></td>
									<td><input type="text" placeholder="Status" ng-model="newItem.status" class="form-control"></td>
									<td><input type="text" placeholder="Notes" ng-model="newItem.notes" class="form-control"></td>
									<td><a href="#" ng-click="add()">Save</a></td>
									<td><a href="#" ng-click="removeAddNew()">Cancel</a></td>
								</tr>
						    	<tr	ng-repeat="item in filtered">
						    		<td>
						    			<div ng-hide="isEditable($index)">
						    				{{ item.username }}
						    			</div>
						    			<div ng-show="isEditable($index)">
						    				<input class="form-control " type="text" ng-model="item.username">
						    			</div>
						    		</td>
						    		<td>
						    			<div ng-hide="isEditable($index)">
						    				{{ item.fullname }}
						    			</div>
						    			<div ng-show="isEditable($index)">
						    				<input class="form-control " type="text" ng-model="item.fullname">
						    			</div>
						    		</td>
						    		<td>
						    			<div ng-hide="isEditable($index)">
						    				{{ item.points }}
						    			</div>
						    			<div ng-show="isEditable($index)">
						    				<input class="form-control " type="text" ng-model="item.points">
						    			</div>
						    		</td>
						    		<td>{{ item.status }}</td>
						    		<td>{{ item.notes }}</td>
						    		<td>
						    			<a ng-hide="isEditable($index)" href="#" ng-click="edit($index)">Edit</a>
						    			<a ng-show="isEditable($index)" href="#" ng-click="save(item, $index)">Save</a>
						    		</td>
						    		<td>
						    			<a href="#" ng-hide="isEditable($index)" ng-click="openModal(item, $index)">Delete</a>
						    			<a href="#" ng-show="isEditable($index)" ng-click="cancel(item, $index)">Cancel</a>
						    		</td>
						    	</tr>
						    </tbody>
						</table>
						<table ng-show="isEmpty()" class="table-scrollable table table-striped table-hover table-bordered">
							<tbody>
								<tr>
									<td>No entries found</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row" ng-hide="isEmpty()">
				<div class="col-md-6 col-md-offset-6">
					<pagination class="pull-right" total-items="totalItems" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>

