<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			Simple Table
		</li>
	</ul>
</div>
<h3 class="page-title">
	Simple Table
</h3>

<div class="row">

	<div class="col-md-12">
		<div class="portlet-body simple-table">
			<div class="table-toolbar">
				<div class="row">
					<div class="col-md-6">
						<div class="btn-group">
							<button id="sample_editable_1_new" class="btn gold">
							Add New <i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
					<thead>
					<tr>
						<th>
							 Username
						</th>
						<th>
							 Full Name
						</th>
						<th>
							 Points
						</th>
						<th>
							 Notes
						</th>
						<th>
							 Edit
						</th>
						<th>
							 Delete
						</th>
					</tr>
					</thead>
				<tbody>
					<tr>
						<td>
							 alex
						</td>
						<td>
							 Alex Nilson
						</td>
						<td>
							 1234
						</td>
						<td class="center">
							 power user
						</td>
						<td>
							<a class="edit" href="javascript:;">
							Edit </a>
						</td>
						<td>
							<a class="delete" data-toggle="modal" href="#delete">
							Delete </a>
						</td>
					</tr>
				<tr>
					<td>
						 lisa
					</td>
					<td>
						 Lisa Wong
					</td>
					<td>
						 434
					</td>
					<td class="center">
						 new user
					</td>
					<td>
						<a class="edit" href="javascript:;">
						Edit </a>
					</td>
					<td>
						<a class="delete" data-toggle="modal" href="#delete">
						Delete </a>
					</td>
				</tr>
				<tr>
					<td>
						 nick12
					</td>
					<td>
						 Nick Roberts
					</td>
					<td>
						 232
					</td>
					<td class="center">
						 power user
					</td>
					<td>
						<a class="edit" href="javascript:;">
						Edit </a>
					</td>
					<td>
						<a class="delete" data-toggle="modal" href="#delete">
						Delete </a>
					</td>
				</tr>
				<tr>
					<td>
						 goldweb
					</td>
					<td>
						 Sergio Jackson
					</td>
					<td>
						 132
					</td>
					<td class="center">
						 elite user
					</td>
					<td>
						<a class="edit" href="javascript:;">
						Edit </a>
					</td>
					<td>
						<a class="delete" data-toggle="modal" href="#delete">
						Delete </a>
					</td>
				</tr>
				<tr>
					<td>
						 webriver
					</td>
					<td>
						 Antonio Sanches
					</td>
					<td>
						 462
					</td>
					<td class="center">
						 new user
					</td>
					<td>
						<a class="edit" href="javascript:;">
						Edit </a>
					</td>
					<td>
						<a class="delete" data-toggle="modal" href="#delete">
						Delete </a>
					</td>
				</tr>
				<tr>
					<td>
						 gist124
					</td>
					<td>
						 Nick Roberts
					</td>
					<td>
						 62
					</td>
					<td class="center">
						 new user
					</td>
					<td>
						<a class="edit" href="javascript:;">
						Edit </a>
					</td>
					<td>
						<a class="delete" data-toggle="modal" href="#delete">
						Delete </a>
					</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="delete" tabindex="-1" role="delete" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Delete</h4>
			</div>
			<div class="modal-body">
				Are you sure to delete this item?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger" id="modal-delete">Delete</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="edit" tabindex="-1" role="edit" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Save</h4>
			</div>
			<div class="modal-body">
				 Previose row not saved. Do you want to save it ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-success" id="modal-edit">Save</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>


<script>
	$(function(){
		TableEditable.init();
	})
</script>