body.login {
  background-color: #151515;
}
body.login .page-content-wrapper .page-content {
  width: 100%;
  background-color: #151515;
  margin-left: 0;
}
body.login .page-sidebar-wrapper,
body.login .page-header.navbar.navbar-fixed-top,
body.login .page-footer {
  display: none !important;
}
@media (max-width: 480px) {
  body.login {
    overflow-x: hidden;
  }
}
body.login .wrap-login {
  width: 400px;
  height: auto;
  margin: 80px auto;
  font-family: "robotoregular", sans-serif;
}
body.login .wrap-login .logo {
  background: url("../../layout/img/logo.svg");
  background-size: 140px 50px;
  height: 50px;
  width: 140px;
  margin: 0 auto;
}
body.login .wrap-login .title {
  margin: 0 0 44px;
  color: #f8f8f8;
  font-size: 24px;
  font-family: "roboto_condensedregular", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
body.login .wrap-login .title span {
  color: #f5bd47;
  font-weight: 700;
  font-family: "roboto_condensedlight", sans-serif;
}
body.login .wrap-login form {
  width: 100%;
  min-width: 100%;
  min-height: 260px;
  background-color: #efefef;
  border: 1px solid #777777;
  padding: 22px 35px;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  border-radius: 10px !important;
}
body.login .wrap-login form h2.title {
  margin: 4px 0 20px;
  font-size: 23px;
  color: #404040;
  font-family: "roboto_condensedlight", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
body.login .wrap-login form input {
  background-color: #ffffff;
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
  padding: 0 18px;
  border: 1px solid #e2e2e2;
  color: #404040;
  font-size: 14px;
  font-family: "robotoregular", sans-serif;
}
body.login .wrap-login form input:focus {
  border: 1px solid #f5bd47;
  outline: 0;
}
body.login .wrap-login form input.error {
  border: 1px solid #f6868b;
}
body.login .wrap-login form input[type="submit"] {
  width: 125px;
  height: 45px;
  padding: 13px 10px;
  margin: 0 auto;
  display: block;
  background-color: #f5bd47;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-family: "robotoregular", sans-serif;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border-radius: 5px !important;
}
@media (max-width: 480px) {
  body.login .wrap-login {
    width: 100%;
  }
  body.login .wrap-login form {
    padding: 15px 10px;
  }
  body.login .wrap-login form input[type="submit"] {
    width: 100%;
  }
}
