@import '../../../global/css/_variables'; // global variables.
@import '../../../global/css/components/_mixins'; // global mixings.

body.login{
    background-color: #151515;
    .page-content-wrapper .page-content{
        width: 100%;
        background-color : #151515;
        margin-left: 0;
    }
    .page-sidebar-wrapper,
    .page-header.navbar.navbar-fixed-top,
    .page-footer{
        display: none !important;
    }

    @media (max-width: $screen-xs-min){
        overflow-x: hidden;
    }

    .wrap-login{
        width: 400px;
        height: auto;
        margin: 80px auto;
        font-family: $font-family-primary;

        .logo{
            $width : 140px;
            $height: 50px;
            background: url("#{$layout-image-path}/logo.svg");
            background-size: $width $height;
            height: $height;
            width: $width;
            margin: 0 auto;
        }

        .title{
            margin: 0 0 44px;
            color : #f8f8f8;
            font-size: 24px;
            font-family: $font-family-primary-condens;
            text-transform: uppercase;
            text-align: center;
            
            span{
                color: $brand-gold;
                font-weight: 700;
                font-family: $font-family-primary-light;
            }
        }

        form{
            width: 100%;
            min-width: 100%;
            min-height: 260px;
            background-color: #efefef;
            border:1px solid #777777;
            padding: 22px 35px;
            @include border-radius(10px);

            h2.title{
                margin: 4px 0 20px;
                font-size: 23px;
                color: #404040;
                font-family: $font-family-primary-light;
                text-align: center;
                text-transform: uppercase;
            }

            input{
               background-color:#ffffff;
               height: 45px;
               width: 100%;
               margin-bottom: 15px;
               padding: 0 18px;
               border:1px solid #e2e2e2;
               color: #404040;
               font-size: 14px;
               font-family: $font-family-primary;
               
               
               &:focus{
                    border: 1px solid $brand-gold;
                    outline: 0;
               }

               &.error{
                    border:1px solid lighten($brand-danger, 10%);
               }
            }

            input[type="submit"]{
                width: 125px;
                height: 45px;
                padding: 13px 10px;
                margin: 0 auto;
                display: block;
                background-color: $brand-gold;
                text-transform: uppercase;
                font-size: 14px;
                text-align: center;
                color: #ffffff;
                font-weight: 700;
                font-family: $font-family-primary;
                @include border-radius(5px);

            }
        }
        
        @media (max-width: $screen-xs-min){
            
            width: 100%;
            form{ 
                padding: 15px 10px; 
                input[type="submit"]{
                    width: 100%;
                }
            }


        }

    }

}

