<div class="wrap-login">
	<div class="warp-logo">
		<div class="logo"></div>
		<h1 class="title"><span class="gold">Application</span> Name</h1>
	</div>
	<form id="adminLogin" name="adminLogin" novalidate ng-submit="login()" action="">
		<h2 class="title">Login</h2>
		<div ng-show="auth_error" class="alert alert-danger">
			<span>{{ error_message }}</span>
		</div>
		<input id="username" ng-class="{ 'error' : auth_error }" ng-model="formLogin.username" type="text" required placeholder="Username"> <input id="password" ng-class="{ 'error' : auth_error }" ng-model="formLogin.password" type="password" required placeholder="Password">
		<input type="submit" value="Login" /> 
	</form>
</div>